@import "tailwindcss";

body {
  background-color: #f8f8f8;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #f79d4d, #E9762B);
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}