/* Header.css */

/* Header background gradient */
.header-gradient {
    background: linear-gradient(to right, #E9762B, #f79d4d);
}

/* Navigation links */
.nav-link {
    color: white;
    position: relative;
    padding-bottom: 4px;
    transition: transform 0.3s ease, font-weight 0.3s ease;
}

.nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 0;
    background-color: white;
    transition: width 0.3s ease;
}

.nav-link:hover {
    transform: scale(1.05);
}

.nav-link:hover::after {
    width: 100%;
}

.nav-link.active {
    transform: scale(1.05);
    font-weight: bold;
}

.nav-link.active::after {
    width: 100%;
}
